<html ng-app="talks">
	<head>
		<meta charset="utf-8">
		<title>Talks</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>	
	</head>

	<body>
		<div ng-controller="TalksController">
			<h1>Talks</h1>
			<table>
				<tr>
					<th>Talk</th>
					<th>Autor</th>
				</tr>
				<tr ng-repeat="talk in talks">
					<td>{{talk.name}}</td>
					<td>{{talk.author}}</td>
				</tr>
			</table>
		</div>

		<script>
			angular.module('talks', ['ngResource'])
			.controller("TalksController", function($scope, $resource){
				var Talk = $resource("http://localhost\\:3000/talks");
				$scope.talks = Talk.query();
			});

		</script>


	</body>

</html>